################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsdx
DataBaseWorker/.vs/DataBaseWorker/v15/Server
/DataBaseWorker/.vs/DataBaseWorker/FileContentIndex/60a2d1ae-e1d4-4fa1-8e05-161fb1c0e034.vsidx
